/.gradle/
/.kotlin/
/.idea/
/local.properties
/**/build/
*.iml
.DS_Store
/design/previews/
/design/*.rp
/designPics/
/.signing/
/dist/
*.jks
*.keystore
*.mutcube
.env
.env.*
!.env.example
/template-sdk/examples/vant-todo/node_modules/
/template-sdk/examples/vant-todo/dist/
/template-ui/fitness-profile/node_modules/
/template-ui/fitness-profile/dist/
